.App {
  text-align: center;
}

.main {
  background-color: #B7D5D4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Work Section Styles */
.topic {
  display: flex;
  margin-bottom: var(--margin-bottom);
}

.projects {
  width: 100%;
  height: 100%;
}

.secondary-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 50%;
}

.secondary-projects section {
  width: 49%;
}
.secondary-projects img {
  height: 80%;
  width: 100%;
  margin-left: 10px;
  opacity: var(--default-opacity);
}

.secondary-projects img:hover {
  opacity: var(--hover-opacity);
}


.secondary-projects .title {
  position: relative;
  bottom: var(--img-title-bottom);
  left: var(--img-title-left);
  color: var(--white-color);
}

.footer {
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
  text-align: center;
 }

 .active {
  font-weight: bold;
}

.headshot {
  width: 75px;
}